/* HERO */

.hero{
    display: flex;
    padding: var(--padding-lg);
    min-height: 60vh;
    gap: 50px;
}

.hero .right img{
    width: 100%;
}

.hero .right .svg{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero .left, .hero .right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    position: relative;
}

/* POPULAR */

.popular{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--padding-lg);
    gap: 50px;
}

.popular .categories{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.popular .categories div{
    border: 1px solid black;
    border-radius: 4px;
    padding: var(--padding-sm);
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.popular .categories img{
    width: 150px;
    height: 150px;
}

.popular .categories .any{
    width: 150px;
    height: 150px;
    border: 1px solid var(--black);
    padding: 30px;
    border-radius: 100px;
}

/* TOP MENU */
.top-menu{
    padding: var(--padding-lg);
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.top-menu .menu-title{
    align-self: start;
}